.sec2_content{
    width: 95%;
    background-color: black;
    margin: auto;
    height: 200vh;
}

.sec2_content1{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}